body {
  background-color: #1d1f21;
  margin: 0 auto;
  padding: 8em;
  font-family: Oxygen, monospace;
  color: #eee;
}

p {
  color: #eee;
  font-size: 1.1em;
}

li {
  color: #eee;
  font-size: 1em;
}

.container {
  min-height: max-content;
}

.name {
  color: #2bbc8a;
  font-size: 2em;
  margin: 0;
}

.title {
  color: #666;
  font-size: 1.2em;
}

.about-me-title {
  color: #2bbc8a;
  font-size: 2em;
}

.table {
  width: 100%;
}

.table-title {
  color: #eee;
  margin: 0;
}

.td {
  /* float: left; */
  width: 39.33%;
}

.about-list {
  padding-left: 15px;
}

.blogs {
  margin-top: 30px;
}

.blog-title {
  color: #2bbc8a;
  font-size: 1.5em;
}

.discription {
  font-size: 1em;
  color: #c9cacc;
}

.blog-list {
  margin: 10px;
  font-size: 1.1em;
}

.blog-link {
  color: #c9cacc;
}

.blog-link:hover {
  color: #2bbc8a;
}
.projects {
  margin-top: 30px;
}
.sub-title {
  color: #2bbc8a;
  font-size: 1.5em;
}

.github-icon-container {
  display: flex;
  width: 100%;
}

.githubicon,
.TwitterIcon,
.linkedinIcon {
  padding-top: 17px;
  padding-left: 5px;
}

.table-data {
  display: flex;
}

.icon-style {
  margin-right: 5px;
  margin-top: 2px;
}

.article {
  display: flex;
  width: 100%;
}

.project-image {
  width: 300px;
  height: 200px;
}

.project-description {
  color: #c9cacc;
  font-size: 1em;
}

.data-section {
  padding-top: 30px;
}

.tech-link {
  color: #eee;
}

.certificates-container {
  display: flex;
  width: 100%;
  padding: 0 50px;
}

.figure-certificates {
  display: flex;
  margin: 10px;
}

.certificate-image {
  width: 200px;
  height: 180px;
}

.flex {
  display: flex;
}

.footer {
  color: #666;
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.left {
  align-self: flex-start;
  font-size: 0.9em;
}

.right {
  align-self: flex-end;
}

.footer-link {
  text-decoration: underline;
  color: #666;
  font-size: 0.9em;
}

/* For Desktop View */
@media (max-width: 820px) {
  body {
    padding: 3em;
  }

  p {
    font-size: 0.3em;
    padding: 0;
  }

  li {
    font-size: 0.3em;
  }

  .name {
    font-size: 0.9em;
  }

  .title {
    font-size: 0.4em;
  }

  .sub-title {
    font-size: 0.7em;
    margin: 0;
  }

  .githubicon,
  .TwitterIcon,
  .linkedinIcon {
    padding-top: 7px;
    padding-left: 5px;
    width: 10px;
    height: 7px;
  }

  .td {
    font-size: 0.3em;
  }

  .tr {
    width: 20%;
  }

  .table-data {
    font-size: 0.3em;
    margin-top: 10px;
  }

  .icon-style {
    width: 7px;
    height: 7px;
  }

  .blogs {
    margin-top: 0;
  }

  .discription {
    font-size: 10px;
  }

  .blog-list {
    font-size: 0.3em;
  }

  time {
    font-size: 0.3em;
  }

  .blog-link {
    font-size: 0.3em;
  }
}

/* For Tablet View */
@media  (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* For Mobile Portrait View */
@media  (max-device-width: 480px) and (orientation: portrait) {
}

/* For Mobile Landscape View */
@media  (max-device-width: 640px) and (orientation: landscape) {
}

/* For Mobile Phones Portrait or Landscape View */
@media  (max-device-width: 640px) {
}

/* For iPhone 4 Portrait or Landscape View */
@media (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
}
