* {
  padding: 0;
  margin: 40;
}

body {
  background-color: #1d1f21;
  margin: 0 auto;
  padding: 8em;
  font-family: "Cormorant Garamond", serif;
  font-family: "Lora", serif;
}

p {
  color: #eee;
  font-size: 1.2em;
}

.name {
  color: #2bbc8a;
  font-size: 2.1em;
  margin: 0;
}

.title {
  color: #c9cacc;
  font-size: 1.2em;
}

.about-me-title {
  color: #2bbc8a;
  font-size: 2.1em;
}
