body {
  background-color: #1d1f21;
  margin: 0 auto;
  padding: 8em;
  font-family: Oxygen, monospace;
  color: #eee;
}

p {
  color: #eee;
  font-size: 1.1em;
}

li {
  color: #eee;
  font-size: 1em;
}

.container {
  min-height: max-content;
}

.name {
  color: #2bbc8a;
  font-size: 2em;
  margin: 0;
}

.title {
  color: #666;
  font-size: 1.2em;
}

.about-me-title {
  color: #2bbc8a;
  font-size: 2em;
}

.table {
  width: 100%;
}

.table-title {
  color: #eee;
  margin: 0;
}

.td {
  /* float: left; */
  width: 39.33%;
}

.about-list {
  padding-left: 15px;
}

.blogs {
  margin-top: 30px;
}

.blog-title {
  color: #2bbc8a;
  font-size: 1.5em;
}

.discription {
  font-size: 1em;
  color: #c9cacc;
}

.blog-list {
  margin: 10px;
  font-size: 1.1em;
}

.blog-link {
  color: #c9cacc;
}

.blog-link:hover {
  color: #2bbc8a;
}
.projects {
  margin-top: 30px;
}
.sub-title {
  color: #2bbc8a;
  font-size: 1.5em;
}

.github-icon-container {
  display: flex;
  width: 100%;
}

.githubicon,
.TwitterIcon,
.linkedinIcon {
  padding-top: 17px;
  padding-left: 5px;
}

.table-data {
  display: flex;
}

.icon-style {
  margin-right: 5px;
  margin-top: 2px;
}

.article {
  display: flex;
  width: 100%;
}

.project-image {
  width: 300px;
  height: 200px;
}

.project-description {
  color: #c9cacc;
  font-size: 1em;
}

.data-section {
  padding-top: 30px;
}

.tech-link {
  color: #eee;
}

.certificates-container {
  display: flex;
  width: 100%;
  padding: 0 50px;
}

.figure-certificates {
  display: flex;
  margin: 10px;
}

.certificate-image {
  width: 200px;
  height: 180px;
}

.flex {
  display: flex;
}

.footer {
  color: #666;
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.left {
  align-self: flex-start;
  font-size: 0.9em;
}

.right {
  align-self: flex-end;
}

.footer-link {
  text-decoration: underline;
  color: #666;
  font-size: 0.9em;
}
